@import 'reset';
@import 'animations';
@import url('https://fonts.googleapis.com/css?family=Saira:400,600,700');

body{
  background: #161B1A;
  font-family: 'Saira', sans-serif;
  color: #161B1A;
}



.max-width{
  width: 1680px;
  margin: 0 auto;
  z-index: 0;
  background-image: url('../img/prudential.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 50px 50px #161B1A;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.center{
  text-align: center;
}

.sunday{
  color: red;
  opacity: 0.8;
}

.small{
  width: 50px;
  height: 50px;
}

.header{
  height: 20vh;
  opacity: 0.5;
}
.nav{
  margin-right: 0;
  width: 900px;
  height: 10vh;
  font-size: 40px;
  &__arrowLeft{
    display: none;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right:20px solid #B32D2D;
    opacity: 0.9;
    cursor: pointer;
  }
  &__arrowLeft:hover{
    opacity: 1;
  }

  &__arrowRight{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #B32D2D;
    opacity: 0.9;
    cursor: pointer;
  }
  &__arrowRight:hover{
    opacity: 1;
  }
  &__slider{

    &--day{
      width: 75px;
      height: 7.5vh;
      color: red;
      font-size: 0.6em;
      margin: 10px;
      background-color: #637945;
      border-radius: 8%;
      box-shadow: inset 0px 0px 10px 10px #161B1A;
      opacity: 0.8;
    }
    &--others{
      width: 70px;
      height: 7vh;
      font-size: 0.55em;
      color: #303837;
      margin: 10px;
      background-color: #637945;
      border-radius: 8%;
      box-shadow: inset 0px 0px 10px 10px #161B1A;
      opacity: 0.7;
    }
  }

}

.aside{
  width: 430px;
  height: 53vh;
  margin-top: 10vh;
  padding: 20px 0 0 20px;
  font-size: 1em;
  background-image: url('../img/paper.jpg');
  background-size: cover;
  border-radius: 1%;
  border: 1px solid #637945;
  opacity: 0.8;
  &__small{
    font-size: 1.5em;
  }
  &__medium{
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  &__large{
    font-size: 8em;
    text-align: center;
    font-weight: 700;
  }
  &__header{
    margin-top: 10px;
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
  }
}


.article{
  width: 900px;
  height: 58vh;
  padding: 55px;
  opacity: 0.7;
  background-image: url('../img/paper.jpg');
  background-size: cover;
  border-radius: 2%;
  box-shadow: inset 0px 0px 40px 40px #161B1A;
  font-size: 1.5em;
  overflow: hidden;
  text-align: justify;
  overflow-y: scroll;
  z-index: 1;
  &__anchor{
    margin-top: -40vh;
    margin-left: 15vw;
    opacity: 0;
  }
  &__noScroll::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &__scroll::-webkit-scrollbar {
  }
}

.scrollOff::-webkit-scrollbar{
  opacity: 0;
}

.scrollOn::-webkit-scrollbar{
}

.scroll{
  color: white;
  margin-left: 93%;
  margin-top: -30vh;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
}
.scroll:hover{
  color: red;
}

@import './mq/320px';
@import './mq/425px';
@import './mq/768px';
@import './mq/1024px';
@import './mq/1280px';
@import './mq/1440px';
@import './mq/landscape';
