@import 'reset';
@import 'animations';
@import url('https://fonts.googleapis.com/css?family=Saira:400,600,700');

body{
  background: #161B1A;
  font-family: 'Saira', sans-serif;
  color: #161B1A;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.max-width{
  width: 1680px;
  margin: 0 auto;
  background-image: url('../img/prudential.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 50px 50px #161B1A;
}

.shake{
  animation: shake 0.56s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.center{
  text-align: center;
}

.sunday{
  color: red;
  opacity: 0.8;
}

.header{
  height: 20vh;
  background-color: green;
  opacity: 0.5;
}

.nav{
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  &__arrowLeft{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right:20px solid blue;
  }
  &__arrowRight{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid blue;
  }
  &__slider{

    &--day{
      width: 75px;
      height: 7.5vh;
      color: red;
      margin: 10px;
      opacity: 0.5;
      background-image: url('../img/glass.png');
      background-position: center;
      background-size: cover;
      background-color: #4C4C4C;
      border-radius: 5%;
    }
    &--others{
      width: 70px;
      height: 7vh;
      color: #303837;
      margin: 10px;
      background: #4C4C4C;
      border-radius: 5%;
      opacity: 0.4;
    }
  }

}



.aside{
  width: 430px;
  height: 53vh;
  padding: 20px 0 0 20px;
  font-size: 1em;
  background-image: url('../img/paper.jpg');
  background-size: cover;
  border-radius: 1%;
  border: 1px solid #637945;
  opacity: 0.8;
  -webkit-animation: asideLoad 5s;
  -moz-animation:    asideLoad 5s;
  -o-animation:      asideLoad 5s;
  animation:         asideLoad 5s;

  &__small{
    font-size: 1.5em;
  }
  &__medium{
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  &__large{
    font-size: 8em;
    text-align: center;
    font-weight: 700;
  }
  &__header{
    margin-top: 10px;
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
  }
}


.articleHeader{
  height: 50px;
  background-color: red;
  opacity: 0.5;
}

.article{
  width: 900px;
  height: 58vh;
  padding: 40px;
  opacity: 0.7;
  background-color: #637945;
  border-radius: 2%;
  box-shadow: inset 0px 0px 50px 50px #161B1A;
  font-size: 1.5em;
  overflow: hidden;
  text-align: justify;
  overflow-y: scroll;
  z-index: 1;
  &__content{
    -webkit-animation: contLoad 3s;
    -moz-animation:    contLoad 3s;
    -o-animation:      contLoad 3s;
    animation:         contLoad 3s;
  }
  &__anchor{
    margin-top: -40vh;
    margin-left: 15vw;
    opacity: 0.2;
    -webkit-animation: anchor 4s;
    -moz-animation:    anchor 4s;
    -o-animation:      anchor 4s;
    animation:         anchor 4s;
  }
}


.scroll{
  color: white;
  margin-left: 96%;
  margin-top: -30vh;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
}
.scroll:hover{
  color: red;
}

@import './mq/320px';
@import './mq/425px';
@import './mq/768px';
@import './mq/1024px';
@import './mq/1280px';
@import './mq/1440px';
@import './mq/landscape';
