@import url(https://fonts.googleapis.com/css?family=Saira:400,600,700);html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  user-select: none; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #161B1A;
  font-family: 'Saira', sans-serif; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

.max-width {
  width: 1680px;
  margin: 0 auto;
  background-image: url("../img/prudential.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 50px 50px #161B1A; }

.shake {
  animation: shake 0.56s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex {
  display: flex;
  justify-content: space-between; }

.center {
  text-align: center; }

.sunday {
  color: red;
  opacity: 0.8; }

.header {
  height: 20vh;
  background-color: green;
  opacity: 0.5; }

.nav {
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 40px; }
  .nav__arrowLeft {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid blue; }
  .nav__arrowRight {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid blue; }
  .nav__slider--day {
    width: 75px;
    height: 7.5vh;
    color: red;
    margin: 10px;
    opacity: 0.5;
    background-image: url("../img/glass.png");
    background-position: center;
    background-size: cover;
    background-color: #4C4C4C;
    border-radius: 5%; }
  .nav__slider--others {
    width: 70px;
    height: 7vh;
    color: #303837;
    margin: 10px;
    background: #4C4C4C;
    border-radius: 5%;
    opacity: 0.4; }

.aside {
  width: 400px;
  height: 60vh;
  font-size: 1em;
  background-image: url("../img/paper.jpg");
  border-radius: 1%;
  border: 1px solid #637945;
  opacity: 0.8;
  -webkit-animation: KEYFRAME-NAME 5s;
  -moz-animation: KEYFRAME-NAME 5s;
  -o-animation: KEYFRAME-NAME 5s;
  animation: KEYFRAME-NAME 5s; }
  .aside__small {
    font-size: 1.5em; }
  .aside__medium {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600; }
  .aside__large {
    font-size: 8em;
    text-align: center;
    font-weight: 700; }

@-webkit-keyframes KEYFRAME-NAME {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes KEYFRAME-NAME {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }

@-o-keyframes KEYFRAME-NAME {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }

@keyframes KEYFRAME-NAME {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }

.articleHeader {
  height: 50px;
  background-color: red;
  opacity: 0.5; }

.article {
  width: 900px;
  height: 60vh;
  padding: 40px;
  opacity: 0.7;
  background-color: #637945;
  border-radius: 2%;
  box-shadow: inset 0px 0px 50px 50px #161B1A;
  font-size: 1.5em;
  overflow: hidden;
  text-align: justify;
  overflow-y: scroll; }
  .article__anchor {
    opacity: 0.4; }

.scroll {
  color: white;
  margin-left: 96%;
  margin-top: -30vh;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.scroll:hover {
  color: red; }

@media (max-width: 424px) {
  .max-width {
    max-width: 425px; }
  .header {
    display: none; }
  .article {
    width: 400px;
    height: 75vh; } }

@media (min-width: 425px) and (max-width: 767px) {
  .max-width {
    max-width: 425px; }
  .header {
    display: none; }
  .article {
    height: 75vh; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .max-width {
    max-width: 768px; } }

@media (min-width: 1024px) and (max-width: 1280px) {
  .max-width {
    max-width: 1024px; } }

@media (min-width: 1280px) and (max-width: 1440px) {
  .max-width {
    max-width: 1280px; } }

@media (min-width: 1440px) {
  .max-width {
    max-width: 1440px; } }

@media (orientation: landscape) and (max-width: 760px) {
  .max-width {
    max-width: 425px; } }
