@import url(https://fonts.googleapis.com/css?family=Saira:400,600,700);html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  user-select: none; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.shake {
  animation: shake 0.56s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

.intro {
  -webkit-animation: intro 3s forwards;
  -moz-animation: intro 3s forwards;
  -o-animation: intro 3s forwards;
  animation: intro 3s forwards; }

@-webkit-keyframes intro {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes intro {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes intro {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes intro {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.intro__out {
  -webkit-animation: mini 2s forwards;
  -moz-animation: mini 2s forwards;
  -o-animation: mini 2s forwards;
  animation: mini 2s forwards; }

@-webkit-keyframes mini {
  0% {
    transform: scale(1, 1); }
  80% {
    transform: rotate(0deg);
    top: 30vh;
    left: 34vw; }
  100% {
    transform: scale(0.2, 0.2) rotate(-15deg); } }

@-moz-keyframes mini {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(0.2, 0.2) rotate(-15deg); } }

@-o-keyframes mini {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(0.2, 0.2) rotate(-15deg); } }

@keyframes mini {
  0% {
    top: 0vh;
    transform: scale(1, 1); }
  80% {
    top: -20vh;
    left: 0vw;
    transform: scale(0.5, 0.5) rotate(0deg); }
  100% {
    top: -35vh;
    left: -33vw;
    transform: scale(0.2, 0.2) rotate(-15deg); } }

.aside {
  -webkit-animation: asideLoad 5s;
  -moz-animation: asideLoad 5s;
  -o-animation: asideLoad 5s;
  animation: asideLoad 5s; }

@-webkit-keyframes asideLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }

@-moz-keyframes asideLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }

@-o-keyframes asideLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }

@keyframes asideLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }

.article__content {
  -webkit-animation: contLoad 3s;
  -moz-animation: contLoad 3s;
  -o-animation: contLoad 3s;
  animation: contLoad 3s; }

@-webkit-keyframes contLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes contLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes contLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes contLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.article__anchor {
  -webkit-animation: anchor 4s;
  -moz-animation: anchor 4s;
  -o-animation: anchor 4s;
  animation: anchor 4s; }

@-webkit-keyframes anchor {
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes anchor {
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes anchor {
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes anchor {
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  background: #161B1A;
  font-family: 'Saira', sans-serif;
  color: #161B1A; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

.max-width {
  width: 1680px;
  margin: 0 auto;
  z-index: 0;
  background-image: url("../img/prudential.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 50px 50px #161B1A; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex {
  display: flex;
  justify-content: space-between; }

.center {
  text-align: center; }

.sunday {
  color: red;
  opacity: 0.8; }

.small {
  width: 50px;
  height: 50px; }

.header {
  height: 20vh;
  background-color: green;
  opacity: 0.5; }

.nav {
  margin-right: 0;
  width: 900px;
  height: 10vh;
  font-size: 40px; }
  .nav__arrowLeft {
    display: none;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid blue; }
  .nav__arrowRight {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid blue; }
  .nav__slider--day {
    width: 75px;
    height: 7.5vh;
    color: red;
    margin: 10px;
    background-color: #637945;
    border-radius: 8%;
    box-shadow: inset 0px 0px 10px 10px #161B1A;
    opacity: 0.8; }
  .nav__slider--others {
    width: 70px;
    height: 7vh;
    color: #303837;
    margin: 10px;
    background-color: #637945;
    border-radius: 8%;
    box-shadow: inset 0px 0px 10px 10px #161B1A;
    opacity: 0.7; }

.aside {
  width: 430px;
  height: 53vh;
  padding: 20px 0 0 20px;
  font-size: 1em;
  background-image: url("../img/paper.jpg");
  background-size: cover;
  border-radius: 1%;
  border: 1px solid #637945;
  opacity: 0.8; }
  .aside__small {
    font-size: 1.5em; }
  .aside__medium {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600; }
  .aside__large {
    font-size: 8em;
    text-align: center;
    font-weight: 700; }
  .aside__header {
    margin-top: 10px;
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap; }

.article {
  width: 900px;
  height: 58vh;
  padding: 55px;
  opacity: 0.7;
  background-color: #637945;
  border-radius: 2%;
  box-shadow: inset 0px 0px 40px 40px #161B1A;
  font-size: 1.5em;
  overflow: hidden;
  text-align: justify;
  overflow-y: scroll;
  z-index: 1; }
  .article__anchor {
    margin-top: -40vh;
    margin-left: 15vw;
    opacity: 0.2; }

.scroll {
  color: white;
  margin-left: 96%;
  margin-top: -30vh;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.scroll:hover {
  color: red; }

@media (max-width: 424px) {
  body {
    font-size: 8px; }
  .max-width {
    max-width: 425px; }
  .nav {
    margin: 0 auto;
    margin-top: -2vh;
    width: 50vw;
    padding: 2vw;
    z-index: 2;
    top: -30vh; }
    .nav__slider--day {
      width: 13vw;
      height: 5vh; }
    .nav__slider--others {
      width: 11vw;
      height: 4.5vh; }
  .flex {
    flex-direction: column; }
  .scroll {
    display: none; }
  .aside {
    width: 60vw;
    height: 30vh;
    margin: 0 auto;
    z-index: 1; }
  .intro {
    display: none; }
    .intro__out {
      display: none; }
  .header {
    display: none; }
  .article {
    margin-top: -2vh;
    width: 100vw;
    height: 60vh;
    box-shadow: inset 0px 0px 20px 20px #161B1A;
    opacity: 0.8; }
    .article__anchor {
      width: 90px;
      height: auto; }
  .scroll {
    display: none; } }

@media (min-width: 425px) and (max-width: 767px) {
  .max-width {
    max-width: 425px; }
  .nav {
    display: none; }
  .aside {
    display: none; }
  .intro {
    display: none; }
    .intro__out {
      display: none; }
  .header {
    display: none; }
  .article {
    width: 100vw;
    height: 75vh;
    box-shadow: inset 0px 0px 20px 20px #161B1A; }
    .article__anchor {
      width: 90px;
      height: auto; }
  .scroll {
    display: none; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .max-width {
    max-width: 768px; } }

@media (min-width: 1024px) and (max-width: 1280px) {
  .max-width {
    max-width: 1024px; } }

@media (min-width: 1280px) and (max-width: 1440px) {
  .max-width {
    max-width: 1280px; } }

@media (min-width: 1440px) {
  .max-width {
    max-width: 1440px; } }

@media (orientation: landscape) and (max-width: 760px) {
  .max-width {
    max-width: 425px; } }
