@media (max-width: 424px) {
  body{
    font-size: 10px;
  }

  .max-width {
    max-width: 424px;

  }

  .nav{
    height: 60px;
    margin: 0;
    width: 100%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    background: gray;
    &__slider{

      &--day{
        width: 50px;
        height: 50px;
      }
      &--others{
        width: 44px;
        height: 44px;
      }
    }
  }

  .flex{
    flex-direction: column;
  }

  .scroll{
    display: none;
  }

  .aside{
    width: 68vw;
    height: 30%;
    padding: 10px 0 10px 10px;
    margin: 0 auto;
    z-index: 1;
  }

  .intro{
    display: none;
    &__out{
      display: none;
    }
  }

  .toTop{
    bottom: 40vh;
    position: -webkit-sticky;
    position: sticky;
    font-size: 20px;
    background: red;
  }

  .header{
    display: none;
  }
  .article{
    width: 97%;
    height: 100%;
    padding: 15px;

    box-shadow: inset 0px 0px 15px 15px #161B1A;
    opacity: 0.7;
    &__anchor{
      width: 200px;
      height: auto;
    }
  }
  .scroll{
    display: none;
  }

}
