@media (max-width: 424px) {
  body{
    font-size: 8px;
  }

  .max-width {
    max-width: 425px;

  }

  .nav{
    height: 10%;
    margin: 0 auto;
    margin-top: -2vh;
    width: 50vw;
    padding: 2vw;
    z-index: 2;
    top: -30vh;
    &__slider{

      &--day{
        width: 13vw;
        height: 5vh;
      }
      &--others{
        width: 11vw;
        height: 4.5vh;
      }
    }
  }

  .flex{
    flex-direction: column;
  }

  .scroll{
    display: none;
  }

  .aside{
    width: 60vw;
    height: 30%;
    margin: 0 auto;
    z-index: 1;
  }

  .intro{
    display: none;
    &__out{
      display: none;
    }
  }



  .header{
    display: none;
  }
  .article{
    margin-top: -2vh;
    padding: 15px;
    width: 100%;
    height: 60%;
    box-shadow: inset 0px 0px 15px 15px #161B1A;
    opacity: 0.8;
    &__anchor{
      width: 90px;
      height: auto;
    }
  }
  .scroll{
    display: none;
  }

}
